Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     4
TabWidth:        4
UseTab:          Never  # Use spaces instead of tabs
ColumnLimit:     160
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
IndentCaseLabels: true
IndentAccessModifiers: false
SpaceBeforeCaseColon: false
PointerAlignment: Left
AccessModifierOffset: -4