cmake-build-*/
*.o
*.ninja
Makefile
.generated/
.cache/
.env
.fleet
__pycache__/
dist/
.py-build-cmake_cache/
.venv/
*.egg-info/

# all the latex stuff
*.aux
*.log
*.synctex.gz
*.toc
*.out

*.bak
*.tmp